@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

$violet-primary: #6d5b79;
$violet-secondary: #a5949a;
$violet-thirdly: #d2adab;
$danger: #bd3e5a;
$white: #f4e8fa;
$fc-primary: #151515;